footer {
    margin: .5rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;

    margin-top: auto;
}

footer ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

footer li {
    list-style: none;
    display: block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer p {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

div.about a {
    color: #fff;
    text-decoration: underline rgba(26, 26, 26, 1);
    text-underline-offset: .25rem;
    transition: text-decoration-color .25s;
    
}

div.about a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255);
}

div.social a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 32px;
    height: 32px;
    transition: transform .25s;
}

div.social a:hover {
    transform: scale(1.5);
}

@media only screen and (max-width: 360px) {
    footer {
        max-height: 6rem;
        flex-direction: column-reverse;
    }

    footer ul {
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    footer  div {
        max-height: 2rem;
        text-align: center;
    }
}

/* 
dc #8c9eff
sm #37474f
yt #ff3D00
fb #039be5
*/
.socialIcon {
    fill: #fff;
}
#discord:hover {
    fill: #8c9eff;
}
#steam:hover {
    fill: #37474f;
}
#youtube:hover {
    fill: #ff3d00;
}
#facebook:hover {
    fill: #039be5;
}