header.mainHeader {
    margin: .5rem;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.header {
    display: flex;
}

div.header a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: transform .25s;
}

div.header a:hover {
    transform: scale(1.2);
}
div.header img {
    max-width: 7rem;
    max-height: 7rem;
}

div.header p {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

div.logo, div.title { 
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

div.title {
    max-width: 14rem;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

div.dropdown {
    font-size: 1.5rem;
    display: none;
}

@media only screen and (max-width: 360px) {
    div.dropdown {
        padding-left: 1rem;
        display: block;
    }
}