@import "components/header.css";
@import "components/navbar.css";
@import "components/footer.css";
@import "content.css";
@import "login.css";
@import "signup.css";
@import "profile.css";
@import "admin/adminbar.css";
:root {
    --bg-color: #151617;
    color: #fff;
    font-family: 'Trebuchet MS', monospace;
}

body {
    background-color: var(--bg-color);
    margin: 0;
}

.xdebug-error, .xe-warning {
    color: #000;
}