@import "components/header.css";
@import "components/navbar.css";
@import "components/footer.css";
@import "content.css";
@import "login.css";
@import "admin/adminbar.css";
:root {
    --bg-color: #1a1a1a;
    color: #fff;
    font-family: 'Trebuchet MS', monospace;
}

body {
    background-color: var(--bg-color);
    margin: 0;
}